body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #E7E7E7;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
}

.logo img {
    height: 60px;
    padding-left: 20px;
}

.nav-links {
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    margin: 0;
    padding-right: 20px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: red;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 4px;
    font-family: "Anton SC", sans-serif;
}

.nav-links a:hover {
    background: rgba(128, 122, 122, 0.2);
    transform: scale(1.05);
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding-right: 20px;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: red;
    margin: 5px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    body {
        margin: 0px;
        padding: 0px;
    }
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    
    .nav-links.active {
        display: flex;
    }
    
    .nav-links li {
        margin: 10px 0;
    }
    
    .hamburger {
        display: flex;
    }
}

/* Hero section */
.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/about us.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background-position: center;
    color: #ffffff;
    width: 100%;
}

.banner {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 24px;
}

.banner h1 {
    font-size: 2em;
}

/* Contact section */
.google-map {
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.contact-container {
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
    border-radius: 0.5rem;
    overflow: hidden;
}

.form-container {
    padding: 20px;
    width: 100%;
}

.form-container h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.border{
    width: 180px;
    height: 5px;
    background: red;
    margin: 26px auto;
}

.contact-form {
    display: grid;
    row-gap: 1rem;
    width: 97%;
}

.contact-form input,
.contact-form textarea {
    width: 95.5%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 0.4rem;
    font-family: "Roboto", sans-serif;
}

.contact-form input,
.contact-form textarea {
    background: #dbd9d9;
    color: #000000;
    margin-right: 20px;
}

.contact-form .send-button {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 0.4rem;
    background: red;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    color: white;
}

.contact-form .send-button:hover {
    background: rgb(255, 81, 81);
    transition: 0.3s all linear;
}

.map iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 964px) {
    .contact-container {
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width: 700px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .map iframe {
        height: 400px;
    }
    .google-map {
        padding: 20px 0;
    }

    .contact-form input,
    .contact-form textarea {
        width: 85%;
    }
    .contact-form .send-button{
        width: 90%;
    }
}




/* Footer */
.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f1;
    color: #000000;
    padding: 20px 0;
}

.footer-about, .footer-links, .footer-contact {
    flex: 1;
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-about h2, .footer-links h2, .footer-contact h2 {
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-links ul, .footer-contact ul {
    list-style: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-links li, .footer-contact li {
    margin: 10px 0;
}

.footer-links a {
    color:#000000;
    text-decoration: none;
}

.footer-links a:hover {
    color: darkgray;
}

.footer-bottom {
    background-color: #505050;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-bottom p {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
