body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
}

.logo img {
    height: 60px;
    padding-left: 20px;
}

.nav-links {
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    margin: 0;
    padding-right: 20px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: red;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 4px;
    font-family: "Anton SC", sans-serif;
}

.nav-links a:hover {
    background: rgba(128, 122, 122, 0.2);
    transform: scale(1.05);
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding-right: 20px;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: red;
    margin: 5px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    body {
        margin: 0px;
        padding: 0px;
    }
    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: white;
        width: 100%;
        flex-direction: column;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .nav-links.active {
        display: flex;
    }
    
    .nav-links li {
        margin: 10px 0;
    }
    
    .hamburger {
        display: flex;
    }
}
/* Hero section */
.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/about us.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background-position: center;
    color: #ffffff;
}

.banner {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 24px;
    
}

.banner h1 {
    font-size: 60px;
}

/* Card section */

h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 0px;
    padding-left: 20px;
    text-align: left;
}
.wrapper {
    max-width: 1270px;
    width: 100%;
    position: relative;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: black;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid black;
  }
 
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  @media screen and (max-width: 900px) {
    .wrapper{
        width: 85%;
    }
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }

/* Footer */

.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f1;
    color: #000000;
    padding: 20px 0;
    flex-wrap: wrap; 
}

.footer-about, .footer-links, .footer-contact {
    flex: 1;
    margin: 0 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    min-width: 200px;
}

.footer-about h2, .footer-links h2, .footer-contact h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-links ul, .footer-contact ul {
    list-style: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-links li, .footer-contact li {
    margin: 10px 0;
}

.footer-links a {
    color: #000000;
    text-decoration: none;
}

.footer-links a:hover {
    color: darkgray;
}

.footer-bottom {
    background-color: #505050;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-bottom p {
    margin: 0;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; 
        align-items: left;
        padding-left: 10px;
    }

    .footer-about {
        order: 1; 
        width: 85%;
        margin: 10px 0;
    }

    .footer-links {
        order: 2;
        margin: 10px 0;
    }

    .footer-contact {
        order: 3; 
        margin: 10px 0;
    }
}
